/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --white-color: #FFFFFF;
    --ashwhite-color: #E5E5E5;
    --snowwhite-color: #F5F5F7;
    --snoopywhite-color: #F2F0F6;
    --mildlavie-color: #BB9FD7;
    --stronglavie-color: #A535F0;
    --darkblue-color: #655CF4;
    --greentoast-color: #F6FFEC;
    --bluetoast-color: #E6F4FF;
    --redtoast-color:#FFF1EF;
    --greenresult-color:#52C41A;
    --blueresult-color: #1677FF;
    --redresult-color: #FF4D4E;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
  }